/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree
 *= require_self
 */


.card{
	border-radius:20px;
	-webkit-box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.62);
	-moz-box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.62);
	box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.62);

}

.btn{
	border-radius: 20px
}


.btn-add{
	position: fixed;
	top: 85%;
	left: 85%;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	-webkit-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.91);
	-moz-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.91);
	box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.91);

}

.search-input{
	transition: 0.5s;
    background: #4d565f; 
	color: white;
	border-radius: 30px;
	width: 40px;
	height: 44px;
	color: black;
	background: url(search.svg) no-repeat scroll 0.1% 0.1%;
	 -webkit-filter: invert(100%);
	padding-left: 40px;
	border: none !important;
	outline: none !important;
}

.search-input:focus {
    background: #4d565f; 
	transition: 0.5s;
	width: 200px;
	background: url(search.svg) no-repeat scroll 0.1% 0.1%;
	padding-left: 40px;
	color: black;
	border: none !important;
	outline: none !important;
}
